body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

img, embed, object, video {
  max-width: 100vw;
}

body {
  background-color: #674BAF;
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 1em;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: white;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 400;
}

.description {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #674BAF;
    color: hsl(257, 40%, 49%);
    width: 60vw;
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px -6px black;
  }

  .content {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }


  .logo {
    width: 40vw;
    padding-top: 10%;
    padding-bottom: 15%;

  }

  .markup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }
  .title {
    font-size: 7vw;
    text-align: center;
    padding-top: 5vw;
  }

  .bttn-container {
    padding-top: 6vw;
  }

  .social-links {
    padding-top: 15vw;
    text-align: center;
  }

  .fab {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;

    }
  .fa-facebook-f {
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fa-instagram {
    margin-left: 2%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:600px) {

  .content {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }


  .logo {
    width: 40vw;
    padding-top: 5%;
    padding-bottom: 10%;

  }

  .markup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;

  }
  .title {
    font-size: 6vw;
    text-align: center;
  }

  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #674BAF;
    color: hsl(257, 40%, 49%);
    width: 60vw;
    height: 10vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px -6px black;
  }

  .social-links {
    padding-top: 8vw;
    padding-bottom: 2vw;
    text-align: center;
  }

  .fab {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;

    }
  .fa-facebook-f {
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fa-instagram {
    margin-left: 2%;
  }

  .bttn-container {
    padding-top: 6vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: #674BAF;
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .content {
    width: 90vw;
    padding-top: 1vw;
    margin-right: auto;
    margin-left: auto;
  }

  br {
    padding-top: 10px;
  }

  button {
    display: block;
    background-color: white;
    color: #674BAF;
    color: hsl(257, 40%, 49%);
    width: 15vw;
    height: 6vh;
    font-family: 'Open Sans', sans-serif;
    font-size: .75em;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px -6px black;
    margin-left: 3vw;
  }

  .logo {
    display: block;
    padding-bottom: 5vw;
    width: 25%;
  }

  .markup {
    display: block;
    float:left;
    width: 60%;
  }

  .title {
    font-size: 1.4em;
    font-weight: 600;
    padding-left: 3vw;
    text-align: left;
    overflow: hidden;
  }

  .description {
    font-weight: 300;
    font-size: .75em;
    padding-left: 3vw;
    text-align: left;
    overflow: hidden;
  }

  .social-links {
    padding-top: 4vw;
    clear: left;
    text-align: right;
  }

  .attribution {
    padding-top: 3vw;
  }

  .bttn-container {
    padding-top: 2%;
    text-align: left;
    overflow: hidden;
  }

  .fa-facebook-f {
    margin-right: 1%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .fa-instagram {
    margin-left: 1%;
  }

}


  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .title {
      font-size: 1.8em;
    }

    .description {
      font-size: .8em;
    }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title {
    font-size: 2.2em;
  }

  .description {
    font-size: 1.2em;
  }

  button {
    font-size: 1.1em;
  }
}
